<html>
  <head>
    <title>Loris</title>
    <body>
      Stadiums:
      <OL>
        <% data["stadiums"].each do |stadium| %>
        <LI>
           <%= stadium["name"] %>
           <%= stadium["city"] %>
        </LI>
        <br/>
        <% end %>
      </OL>
    </body>
</html>
