<html>
  <head>
    <title>Loris</title>
    <body>
      Stadiums:
      <OL>
        <% data["stadiums"].each do |stadium| %>
        <LI>
           <%= stadium["name"] %>
        </LI>
        <LI>
           <%= stadium["city"] %>
        </LI>
        <br/>
        <% end %>
      </OL>
      </br>
       <table>
        <tbody>
            <tr>
                <th>id</th>
                <th>name</th>


            </tr>
            <tr>



            </tr>

        </tbody>
    </table>
      
    </body>
</html>
