<html>
  <head>
    <title>Loris</title>
    <body>
      Stadiums:
      <OL>
        <% data["stadiums"].each do |stadium| %>
        <LI>
           <%= stadium["name"] %>
        </LI>
        <LI>
           <%= stadium["city"] %>
        </LI>
        <br/>
        <% end %>
      </OL>
      </br>
       <table>
        <tbody>
            <tr>
                <th>id</th>
                <th>name</th>


            </tr>
            <tr>
               <% data["groups"]["a].each do |groups| %>
                <td>  <%= groups["id"] %></td>
                <td><%= groups["name"] %></td>


            </tr>
                  <% end %>
        </tbody>
    </table>
      
    </body>
</html>
